services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - VITE_SUPABASE_URL=${VITE_SUPABASE_URL}
        - VITE_SUPABASE_KEY=${VITE_SUPABASE_KEY}
    container_name: vue-web
    ports:
      - "8080:3000"
    restart: unless-stopped